.header-container{
    background-color:rgb(7, 7, 118);
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container a{
    color:white;
    text-decoration: none;
    font-weight: bolder;
}
.header-links{
    display: flex;
    flex-wrap: wrap;
}
.header-links a{
    margin-left: 10px;
}

