.quiz-container{
    width: 70%;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 10px;
    position: relative;
}
.quiz-options{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.eye-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgb(7, 7, 118);
}
.question{
    color: rgb(7, 7, 118);
    text-align: center;
    font-size:large;
    font-weight: bold;
    padding: 10px;
}
.option{
    margin: 10px;
    display: flex;
    align-items: center;
    border: 2px solid brown;
    border-radius: 10px;
    font-weight: 500;
}

@media only screen and (max-width:992px) {
    .quiz-options{
        display: block;
    }
}